<div class="ice-box span9 offset3 text-center">
	<h1 class="awesome-sauce" >
		Hi I'm Marco
	</h1>
	<br/>
	<h2>
		Hacking is Fun on this snowy Saturday
	</h2>

	<%= link_to 'launch','#', :class => 'btn btn-warning'%>
<div>
