<div class="ice-box">
	<% @pics.each do |pic| %>
	<div class="ice-box span5 text-center">
		<h2><%= pic.title %></h2>
		<h3>Message: <%= pic.message %></h3>
		<h3>Author: <%= pic.who %> </h3>
		
		<br/>
	</div>

	<% end %>
</div>