@import url(http://fonts.googleapis.com/css?family=Ruda);

.ice-box{
    box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
    background-color: rgba(36,32,33,0.50);
    padding: 1%;
}

.awesome-sauce{
    font-family: 'Ruda',Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-weight: 100;
    font-size: 64px;
    color: white;
}

h2{
    font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-weight: 200;
    font-size: 24px;
    color: white;
}

body {
	background: url("matrix_green.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}